body {
    font-family: Lato, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre, code, tt {
    font-family: "Inconsolata", Consolas, monospace;
}

code {
    color; #606060;
    background-color: inherit;
    font-size: inherit;
    border: none;
    padding: 0;
    margin: 0;
}

pre {
    color: #606060;
}

.logo {
    float: left;
    margin-left: 0;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Oswald;
    font-weight: normal;
    color: #606060;
    margin-top: 0;
}

h1 {
    margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

h2         { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h3, h4, h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6         { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
    h2         { font-size: 3.0rem; }
    h3, h4, h5 { font-size: 2.4rem; }
    h6         { font-size: 1.5rem; }
}

a:link, a:visited {
    color: #0c6090;
    text-decoration: none;
}

a:hover, a:active {
    color: #c06050;
    text-decoration: underline;
}

ul {
    list-style: circle outside;
}

ol {
    list-style: decimal outside;
}

ol, ul {
    padding-left: 1.25em;
}

#menu {
    color: white;
    background-color: #0c6090;
    font-family: Oswald;
}

#menu ul {
    padding: 0;
}

#menu li {
    display : inline;
    padding: 0;
}

#menu li {
    font-size: 1.8rem;
}

#menu a {
    padding-left: 1rem;
    padding-right: 1rem;
}

#menu a:link, #menu a:visited, #menu a:hover, #menu a:active {
    color: white;
    text-decoration: none;
}

.active, #menu a:hover, #menu a:active {
    background-color: #7090b0;
}

#post-list {
    margin-bottom: 1rem;
    list-style-type: none;
    padding-left: 0;
}

.post-info {
    font-size: smaller;
}

.entry-content {
    margin-top: 1.5rem;
}

#contentinfo {
    font-size: smaller;
}

ul.tags, .tags li {
    display: inline;
}

ul.tags {
    margin-left: 1.5rem;
    font-weight: bold;
}

#tags {
    padding-left: 0;
}

#tags li {
    display: inline;
    padding-left: 0;
    padding-right: 1rem;
    white-space: nowrap;
    line-height: 2;
}

#tags li .count {
    font-size: smaller;
}

.read-more {
    margin-top: -1.5rem;
    font-weight: bold;
}

.social a[type$='atom+xml'], .social a[type$='rss+xml'] {
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    background-image: url('../images/feed-icon-14x14.png');
}

.footer-ad {
    margin-top: 3rem;
}

