{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}
  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}
{% endblock %}

{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
	{% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
	{% endif %}
    {% if article.tags %}
    <ul class="tags">
        {% for tag in article.tags %}
        <li><a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
  </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
<ul>
{% if article.prev_article %}
    <li>Previous article: 
        <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
            {{ article.prev_article.title }}
        </a>
    </li>
{% endif %}
{% if article.next_article %}
    <li>Next article:
        <a href="{{ SITEURL }}/{{ article.next_article.url}}">
            {{ article.next_article.title }}
        </a>
    </li>
{% endif %}
</ul>
{% endblock %}

{% block footer_ad %}
{% if article.date|age_in_days > 30 %}
<div class="footer-ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-format="fluid"
     data-ad-layout="in-article"
     data-ad-client="ca-pub-2819149266595616"
     data-ad-slot="4700820083"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- /.footer-ad -->
{% endif %}
{% endblock %}

