<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="//fonts.googleapis.com/css?family=Oswald%7CLato%7CInconsolata" rel="stylesheet">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/skeleton.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/highlight.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="icon" type="image/png" href="images/favicon.png" />
    {% endblock head %}
    {% block analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43697246-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% endblock analytics %}
    {% block page_ad %}
    {% endblock page_ad %}
</head>
<body id="index" class="home">
  <div class="container">

    <div class="row">
        <div class="logo">
            <a href="{{ SITEURL }}/">
                <img src="{{ SITEURL }}/theme/images/undefinedvalue_logo.png" alt="Logo">
            </a>
        </div><!-- /.logo -->
        <header id="banner" class="body">
            <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
            <strong>{{SITESUBTITLE}}</strong>
        </header><!-- /#banner -->
    </div><!-- /.row -->

    <div class="row">
        <nav id="menu"><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
        </ul></nav><!-- /#menu -->
    </div><!-- /.row -->

    <div class="row">

        <div class="nine columns">

        {% block content %}
        {% endblock %}

        {% block content_ad %}
        {% endblock %}

        </div><!-- /.nine columns -->

        <div class="three columns">
        <section id="extras" class="body">
            <div class="recent">
                <h2>{{ RECENT_ARTICLES_WIDGET_NAME | default('Recent Articles') }}</h2>
                <ul>
                {% set recent_articles = all_articles | default(articles) %}
                {% set recent_count = [RECENT_ARTICLES_COUNT, recent_articles|length, 20] | sort | first %}
                {% for recent_article in recent_articles[:recent_count] %}
                    <li><a href="{{ SITEURL }}/{{ recent_article.url }}">{{ recent_article.title }}</a></li>
                {% endfor %}
                </ul>
            </div><!-- ./recent -->
        {% if LINKS %}
            <div class="blogroll">
                    <h2>{{ LINKS_WIDGET_NAME | default('links') }}</h2>
                    <ul>
                    {% for name, link in LINKS %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                    </ul>
            </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
            <div class="social">
                    <h2>{{ SOCIAL_WIDGET_NAME | default('social') }}</h2>
                    <ul>
                        {% if FEED_ALL_ATOM %}
                        <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">Atom Feed</a></li>
                        {% endif %}
                        {% if FEED_ALL_RSS %}
                        <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate">RSS Feed</a></li>
                        {% endif %}

                    {% for name, link in SOCIAL %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                    </ul>
            </div><!-- /.social -->
        {% endif %}
        </section><!-- /#extras -->

        </div><!-- /.three columns -->
    </div><!-- /.row -->

    <div class="row">
        <footer id="contentinfo" class="body">
            {{ COPYRIGHT_NOTICE }}
        </footer><!-- /#contentinfo -->
    </div><!-- /.row -->

  </div><!-- /.container -->

  {% block footer_ad %}
  {% endblock %}
</body>
</html>

