{% extends "base.html" %}

{% block title %}Tags | {{ SITENAME }}{% endblock %}

{% block content %}
    <h2>Tags for {{ SITENAME }}</h2>
    {%- for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
    {% endfor %}
{% endblock %}

{% block footer_ad %}
<div class="footer-ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-format="fluid"
     data-ad-layout="in-article"
     data-ad-client="ca-pub-2819149266595616"
     data-ad-slot="4700820083"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><!-- /.footer-ad -->
{% endblock %}

